.grid {
  h1 {
    font-size: 200%;
    margin-bottom: 20px;
  }
}

.gridItem {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin-right: 30px;
  font-size: 0;
  text-decoration: none;
  color: #fff;
  background: #01a58d;
  overflow: hidden;
  position: relative;
  &:hover .gridItemImage {
    transform: translateY(-60px);
  }
}

.gridItemImage {
  width: 300px;
  height: 240px;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: transform 0.3s;
  z-index: 2;
}

.gridItemTitle {
  height: 60px;
  line-height: 60px;
  text-indent: 20px;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.gridItemRate {
  height: 60px;
  line-height: 60px;
  position: absolute;
  bottom: 60px;
  left: 0px;
  width: 300px;
  text-align: center;
  z-index: 1;
  span {
    padding: 0 2px;
    font-size: 20px;
  }
}

.element {
  h1 {
    font-size: 200%;
    margin-bottom: 20px;
  }
}