.popup {
  background: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popupInner {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -100px;
  background: #fff;
  width: 500px;
  height: 200px;
}

.popupClose {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}
