.cmpPreloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin: -12px 0 0 -12px;
}

.cmpPreloader i {
  position: absolute;
  top: 24px; left: 24px;
  display: block;
  width: 24px;
  height: 24px;
  background: #799ED2;
  border-radius: 24px;
  animation: cmpPreloader2 1.5s ease-in-out infinite;
}
.cmpPreloader i:first-child {
  top: -24px; left: 0;
  background: #194685;
  animation: cmpPreloader 1.5s ease-in-out infinite;
}
.cmpPreloader i:last-child {
  top: 24px; left: -24px;
  background: #C7202C;
  animation: cmpPreloader3 1.5s ease-in-out infinite;
}

@keyframes cmpPreloader {
  0% {
    top: -24px;
    left: 0;
    transform: scale(1);
  }
  17% {
    transform: scale(.5);
  }
  33% {
    top: 24px;
    left: 24px;
    transform: scale(1);
  }
  50% {
    transform: scale(.5);
  }
  66% {
    top: 24px;
    left: -24px;
    transform: scale(1);
  }
  83% {
    transform: scale(.5);
  }
  100% {
    top: -24px;
    left: 0;
    transform: scale(1);
  }
}
@keyframes cmpPreloader2 {
  0% {
    top: 24px;
    left: 24px;
    transform: scale(1);
  }
  17% {
    transform: scale(.5);
  }
  33% {
    top: 24px;
    left: -24px;
    transform: scale(1);
  }
  50% {
    transform: scale(.5);
  }
  66% {
    top: -24px;
    left: 0;
    transform: scale(1);
  }
  83% {
    transform: scale(.5);
  }
  100% {
    top: 24px;
    left: 24px;
    transform: scale(1);
  }
}
@keyframes cmpPreloader3 {
  0% {
    top: 24px;
    left: -24px;
    transform: scale(1);
  }
  17% {
    transform: scale(.5);
  }
  33% {
    top: -24px;
    left: 0;
    transform: scale(1);
  }
  50% {
    transform: scale(.5);
  }
  66% {
    top: 24px;
    left: 24px;
    transform: scale(1);
  }
  83% {
    transform: scale(.5);
  }
  100% {
    top: 24px;
    left: -24px;
    transform: scale(1);
  }
}